doctype html 
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='style.css')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap')
        title Meridian|Homepage
        link(rel='stylesheet' type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
    body
        header
            section.header-sale
                p spring season sale | 20% off entire store | Free Premium UK Delivery
            section.nav-header 
                div.nav-header__burger 
                    button.nav-header__burger__icon(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                        span
                    ul.dropdown-menu
                        li 
                            a.dropdwon-item(href="index.html") Home
                        li 
                            a.dropdown-item(href="products.html") Products 
                        li
                            a.dropdown-item(href="faq.html") FAQ 
                        li
                            a.dropdown-item(href="about-us.html") About Us
                        li 
                            a.dropdown-item(href="contact-us.html") Contact 
                nav.nav-header__left 
                    a(href="index.html" style='color: #00264B') Home 
                    a(href="products.html") Products 
                    a(href="faq.html") FAQ
                    a(href="about-us.html") About Us 
                    a(href="contact-us.html") Contact
                img.nav-header__title(src="/images/Green.png" alt="#")      
                nav.nav-header__right 
                    a(href="#") Dealer Login 
                    a(href="#") Become A Dealer 
                    a(href="#") Find A Retail 
                a.nav-header__cart(href="cart.html")
                    img(src="/images/Cart.png" alt="#") 
                p.nav-header__count 0
                button.nav-header__search 
                    img(src="/images/Group.png" alt="#") 
        section.shop-collection
            p.shop-collection__main-text MODERN, CONTEMPORARY OUTDOOR FURNITURE
            p.shop-collection__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper eget ultrices gravida gravida. Suspendisse pharetra quis eros facilisi.
            a.shop-collection__button(href="products.html") SHOP COLLESTIONS
            img.shop-collection__img(src="images/973273f390223e88c131c66774da4a7e.jpg" alt="#")
        section.collections
            div.collections__first-row-cell-first
                div.wrap
                    a(href="#") 
                        img(src="images/454abb288cfa1cf4c096f0a5b7313115.jpg" alt="#")
                    p COLLECTION 1
            div.collections__first-row-cell-second
                div.wrap
                    a(href="#")
                        img(src="images/5805732c87d430e05a32469187b4d149.jpg" alt="#") 
                    p COLLECTION 2
            div.collections__second-row-cell-first
                div.wrap
                    a(href="#")
                        img(src="images/759fbbba03adf7e3351e483c3282c500.jpg" alt="#")
                    p COLLECTION 3
            div.collections__second-row-cell-second
                div.wrap
                    a(href="#")
                        img(src="images/84f1da5e728eda144a840337d5931fd5.jpg" alt="#") 
                    p COLLECTION 4
            div.collections__second-row-cell-three
                div.wrap
                    a(href="#")
                        img(src="images/7d7d4b82a531be0f1914fd001832ab34.jpg" alt="#") 
                    p COLLECTION 5
        section.about-us
            img(src="images/Simple_3_Column_Centered.png" alt="#")
        section.about-us-mobile
            img(src='images/column-mobile.png' alt="#")
        mixin catalog(catalogClass, itemClass, priceClass, img, itemName, price, href)
            div(class=catalogClass)
                img(src=img alt="#")
                p(class=itemClass)= itemName
                p(class=priceClass)= price
                a(href=href) View Details Products 
        section.catalog
            h5 Ready To Ship
            p.catalog__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est id pretium pellentesque leo. Lorem.
            div(class='catalog__list multiple-items')
               +catalog("catalog__list__first", "catalog__list__first__item-name", "catalog__list__first__price", "images/97925ef2bb61014142d39d1b1039b41c.jpg", "Alma Black Armchair Standard", "£1,000.00", "product-page-6.html")
               +catalog("catalog__list__second", "catalog__list__second__item-name", "catalog__list__second__price", "images/0d73a47c31f3309fd78b5b06c3d6c588.jpg", "Alma Velvet Armless", "£1,500.00", "product-page-1.html")
               +catalog("catalog__list__three", "catalog__list__three__item-name", "catalog__list__three__price", "images/496acbf8671f08d74f9e0ce0fc99b731.jpg", "Emerald Sofa", "£3,000.00", "product-page-3.html")
               +catalog("catalog__list__four", "catalog__list__four__item-name", "catalog__list__four__price", "images/26b5bd8570ffe4781c8d5c9dafde9654.jpg", "Clarion Dining Chair", "£800.00", "product-page-12.html")
            div.catalog__line-mobile
                span
        section.about-product
            div.about-product__wrap
                img.about-product__background(src="images/0a03de64d6ef401889db7518d1b51d8a.jpg" alt="#")
                img.about-product__needle(src="images/needle.png" alt="#")
                p.about-product__commited COMMITED TO EUROPIAN MANUFACTURING
                p.about-product__quality our #[span Products] are made with #[span HIGH QUALITY] european #[span FABRIC] and sewn by a #[span SMALL] team #[span CRAFTSPEOPLE] in #[span EUROPE]
        section(class='collections collections-other')
            h5 Explore each unique collection
            h4.collections-other__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est id pretium pellentesque leo. Lorem.
            div(class='collections__first-row-cell-first collections-other__first-row-cell-first')
                div.wrap
                    a(href="#") 
                        img(src="images/e0e61f2246112f03afc2d1d8249cfab6.jpg" alt="#")
                    p COLLECTION 1
            div(class='collections__first-row-cell-second collections-other__first-row-cell-second')
                div.wrap
                    a(href="#")
                        img(src="images/a798eab4708ba9edc0282582609cd22c.jpg" alt="#") 
                    p COLLECTION 2
            div(class='collections__second-row-cell-first collections-other__second-row-cell-first')
                div.wrap
                    a(href="#")
                        img(src="images/d733b649fe38ef06d95b2eb0e428b50b.jpg" alt="#")
                    p COLLECTION 3
            div(class='collections__second-row-cell-second collections-other__second-row-cell-second')
                div.wrap
                    a(href="#")
                        img(src="images/76da0bbded32c0f55e3ea9012ebece64.jpg" alt="#") 
                    p COLLECTION 4
            div(class='collections__second-row-cell-three collections-other__second-row-cell-three')
                div.wrap
                    a(href="#")
                        img(src="images/c61d06eee41a093752fafade3a689754.jpg" alt="#") 
                    p COLLECTION 5
        mixin reviews(reviewCountClass, title, text, name, img)
                div(class=reviewCountClass)
                    h5.reviews__title= title 
                    p.reviews__text= text 
                    p.reviews__name= name 
                    img.reviews__image(src=img alt="#")
                    img.reviews__previous(src='images/bi_arrow-left-short.png' alt="#")
                    img.reviews__next(src='images/bi_arrow-right-short.png' alt="#")
        section.reviews
            +reviews('review-0', 'FURNITURE TO WRITE HOME ABOUT', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id dictum quam nisi, eget est commodo neque aliquam leo. Rhoncus habitant eu aliquam elit ipsum sagittis, sit proin. Donec magna sapien et blandit vehicula vestibulum. Laoreet sagittis augue quis lacinia. Ut enim eget semper odio pretium rhoncus. Blandit velit augue donec ut rhoncus semper imperdiet adipiscing dignissim. Nisl sit dui etiam morbi morbi facilisi tristique.', 'WADE WARREN', 'images/973273f390223e88c131c66774da4a7e.jpg')
            +reviews('review-1 invis', 'FURNITURE TO WRITE HOME ABOUT', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id dictum quam nisi, eget est commodo neque aliquam leo. Laoreet sagittis augue quis lacinia. Ut enim eget semper odio pretium rhoncus. Blandit velit augue donec ut rhoncus semper imperdiet adipiscing dignissim. Nisl sit dui etiam morbi morbi facilisi tristique.', 'PIRE DUNN', 'images/0a03de64d6ef401889db7518d1b51d8a.jpg')
            +reviews('review-2 invis', 'FURNITURE TO WRITE HOME ABOUT', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id dictum quam nisi, eget est commodo neque aliquam leo. Rhoncus habitant eu aliquam elit ipsum sagittis, sit proin. Donec magna sapien et blandit vehicula vestibulum. Laoreet sagittis augue quis lacinia. Ut enim eget semper odio pretium rhoncus. Blandit velit augue donec ut rhoncus semper imperdiet adipiscing dignissim.', 'ALESAR', 'images/5805732c87d430e05a32469187b4d149.jpg')
            +reviews('review-3 invis', 'FURNITURE TO WRITE HOME ABOUT', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id dictum quam nisi, eget est commodo neque aliquam leo. Rhoncus habitant eu aliquam elit ipsum sagittis, sit proin. Donec magna sapien et blandit vehicula vestibulum. Laoreet sagittis augue quis lacinia. Ut enim eget semper odio pretium rhoncus. Blandit velit augue donec ut rhoncus Nisl sit dui etiam morbi morbi facilisi tristique.', 'KYUBICK', 'images/496acbf8671f08d74f9e0ce0fc99b731.jpg')
            +reviews('review-4 invis', 'FURNITURE TO WRITE HOME ABOUT', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id dictum quam nisi, eget est commodo neque aliquam leo. Rhoncus habitant eu aliquam elit ipsum sagittis, sit proin. Donec magna sapien et blandit vehicula vestibulum. Ut enim eget semper odio pretium rhoncus. Blandit velit augue donec ut rhoncus semper imperdiet adipiscing dignissim. Nisl sit dui etiam morbi morbi facilisi tristique.', 'SON GOKU', 'images/973273f390223e88c131c66774da4a7e.jpg')
            +reviews('review-5 invis', 'FURNITURE TO WRITE HOME ABOUT', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id dictum quam nisi, eget est commodo neque aliquam leo. Rhoncus habitant eu aliquam elit ipsum sagittis, sit proin. Laoreet sagittis augue quis lacinia. Ut enim eget semper odio pretium rhoncus. Blandit velit augue donec ut rhoncus semper imperdiet adipiscing dignissim. Nisl sit dui etiam morbi morbi facilisi tristique.', 'BYE BYE', 'images/884d08a21b843ab9a31cc1998c1a917d.jpg')
            +reviews('review-6 invis', 'FURNITURE TO WRITE HOME ABOUT', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id dictum quam nisi, eget est commodo neque aliquam leo. Donec magna sapien et blandit vehicula vestibulum. Laoreet sagittis augue quis lacinia. Ut enim eget semper odio pretium rhoncus. Blandit velit augue donec ut rhoncus semper imperdiet adipiscing dignissim. Nisl sit dui etiam morbi morbi facilisi tristique.', 'PICCOLO', 'images/7d7d4b82a531be0f1914fd001832ab34.jpg')
            +reviews('review-7 invis', 'FURNITURE TO WRITE HOME ABOUT', 'Id dictum quam nisi, eget est commodo neque aliquam leo. Rhoncus habitant eu aliquam elit ipsum sagittis, sit proin. Donec magna sapien et blandit vehicula vestibulum. Laoreet sagittis augue quis lacinia. Ut enim eget semper odio pretium rhoncus. Blandit velit augue donec ut rhoncus semper imperdiet adipiscing dignissim. Nisl sit dui etiam morbi morbi facilisi tristique.', 'KAME KAME', 'images/59f3d60c7d0bb54a7a52bd11eeaa18d3.jpg')
            +reviews('review-8 invis', 'FURNITURE TO WRITE HOME ABOUT', 'Lorem ipsum dolor sit amet,Id dictum quam nisi, eget est commodo neque aliquam leo. Rhoncus habitant eu aliquam elit ipsum sagittis, sit proin. Donec magna sapien et blandit vehicula vestibulum. Laoreet sagittis augue quis lacinia. Ut enim eget semper odio pretium rhoncus. Blandit velit augue donec ut rhoncus semper imperdiet adipiscing dignissim. Nisl sit dui etiam morbi morbi facilisi tristique.', 'BLA BLA', 'images/84f1da5e728eda144a840337d5931fd5.jpg')
            +reviews('review-9 invis', 'FURNITURE TO WRITE HOME ABOUT', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id dictum quam nisi Rhoncus habitant eu aliquam elit ipsum sagittis, sit proin. Donec magna sapien et blandit vehicula vestibulum. Laoreet sagittis augue quis lacinia. Ut enim eget semper odio pretium rhoncus. Blandit velit augue donec ut rhoncus semper imperdiet adipiscing dignissim. Nisl sit dui etiam morbi morbi facilisi tristique.', 'OH MY', 'images/c61d06eee41a093752fafade3a689754.jpg')
        section.view-product
            h4 Get Inspired & Find Us on Instagram
            div.view-product__wrap
                a.view-product__btn(href='#')
                    img.view-product__image-one(src="images/19ed00f36471da97a65926d702f404e2.jpg" alt="#")
                    span VIEW PRODUCT
            img.view-product__image-two(src='images/e442850037f6bf4bfd7620dd715d7842.jpg' alt="#")
            img.view-product__image-three(src='images/59f3d60c7d0bb54a7a52bd11eeaa18d3.jpg' alt="#")
            img.view-product__image-four(src='images/84f1da5e728eda144a840337d5931fd5.jpg' alt="#")
        section(class='connection homepage-connection')
            img.connection__image(src='images/76da0bbded32c0f55e3ea9012ebece64.jpg' alt="#")
            h4.connection__title How Can We Help You?
            p.connection__text We pride ourselves on superior customer service. Speak to a member of our sales team to help with your order.
            p.connection__email Get In Touch support@Meridian.com
            div.connection__phone
                div.connection__phone__number #[img(src="images/bx_phone.png" alt="#")] 01789 339533
            p.connection__work-time 8am to 6pm, 7 days a week
        footer
            section(class='footer homepage-footer')
                img.footer__logo(src='images/Logo.png' alt="#")
                hr
                p.footer__adress Head Office #[span 32 Plum St, Trenton, NJ 08638, United States]
                p.footer__phone #[img(src='images/Vector-phone.png' alt="#")] 01789 730695
                p.footer__email #[img(src='images/Vector-mail.png' alt="#")] support@Meridian.com
                ul.footer__list
                    li.footer__list__title Product 
                    li 
                        a(href='#') New Arrival
                    li 
                        a(href='#') Living Room
                    li
                        a(href='#') Kitchen & Dining Room
                    li
                        a(href='#') Bed Room
                    li
                        a(href='#') Accent
                    li 
                        a(href='#') Occasional Table
                    li
                        a(href='#') Office/Home Office
                    li
                        a(href="#") Outdoor Furniture
                ul(class='footer__list help-list')
                    li.footer__list__title Help
                    li
                        a(href='about-us.html') About Us
                    li
                        a(href='contact-us.html') Contact
                div.footer__newsletter
                    p.footer__newsletter__join Join Meridian for Exclusive Offers
                    form
                        input.footer__newsletter__email(type='email' placeholder="Email address")
                        input.footer__newsletter__submit(type="submit" value=">")
                    p.footer__newsletter__description Our newsletter is packed full of style ideas, new products and exclusive disounts. We are GDPR compliant, your information is secure with us.
                ul.footer__policy-list
                    li 
                        a(href='#') Terms & Conditions
                    li 
                        a(href="#") Privacy Policy
                    li 
                        a(href="#") Shiping Policy
                div.footer__payment-methods
                    img.footer__payment-methods__mc(src="images/Frame177.png" alt="#")
                    img.footer__payment-methods__visa(src='images/Frame178.png' alt="#")
                    img.footer__payment-methods__g-pay(src='images/Frame180.png' alt="#")
                    img.footer__payment-methods__apple-pay(src='images/Frame181.png' alt="#")
                div.footer__socials
                    a(href="#")
                        img.footer__socials__fcb(src="images/001-facebook.png" alt="#")
                    a(href="#")
                        img.footer__socials__inst(src='images/004-instagram.png' alt="#")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.7.1.min.js")
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="main.js")
                  